.footer
    background-image: $grey-linear-gradient

.footer-content
    @include content
    padding: 30px 20px 10px
    
    &> .credits, .copyright
        margin-bottom: 1.5rem
        text-align: center
        color: $main-black

.credits-link
    color: $main-black !important
    
    &:hover
        color: $main-gold !important
