@mixin content
    max-width: 1280px
    margin: 0 auto

@mixin content-md
    max-width: 992px
    margin: 0 auto

@mixin bg-gradient
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)