.nav
    width: 100%
    padding: .8rem 1rem
    color: $main-white
    position: fixed
    top: 0
    z-index: 999
    transition: 1s cubic-bezier(.4,.3,0,1)

    &__content
        @include content
        display: flex
        justify-content: space-between
    
    .logo-img
        max-width: 150px

        @include breakpoint-md-up
            max-width: 200px

.menu  
    display: flex 
    align-items: center
    list-style: none
        
    &__item
        margin-right: 1rem
        cursor: pointer
            
        &:last-child
            margin-right: 0
                
.nav-background
    background: $main-black
    transition: 1s cubic-bezier(.4,.3,0,1)

@include breakpoint-md-up
    .menu__item
        margin-right: 1.5rem