.nav
    width: 100%
    padding: .8rem 1rem
    color: $main-white
    position: fixed
    top: 0
    z-index: 999
    transition: .6s cubic-bezier(.4,.3,0,1)

    &__content
        @include content
        display: flex
        justify-content: space-between
        align-items: center
    
    &__stars
        display: none

.logo-img
    max-width: 150px

.menu  
    display: flex 
    align-items: center
    list-style: none

    &--desktop
        display: none
        
    &__item
        margin-right: 1.5rem
        cursor: pointer
        
        &__link
            color: $main-gold
            
        &:last-child
            margin-right: 0

        &:hover
            color: $main-gold !important    
    
    &__overlay-mobile
        height: 100%
        width: 100vw
        left: 0
        overflow-y: auto
        position: fixed
        z-index: 999
        background-color: $standard-white
        transition: left .3s

        &--hide
            height: 100%
            width: 100vw
            left: -100%
            overflow-y: auto
            position: fixed
            z-index: 999
            background-color: $standard-white
            transition: left .3s

.menu-wrapper
    padding: 4rem 2rem
    
    
    .mobile-menu
        font-size: 2rem
        list-style: none
        line-height: 2rem
        
        li
            margin-bottom: 2rem
            &:first-of-type
                margin-bottom: 4rem
                text-align: center
    
        &__icon
            margin-right: 1rem
            font-size: 1rem
            vertical-align: middle
        
        &__link
            color: $main-black
        
            

.nav-background
    background: $main-black
    transition: 1s cubic-bezier(.4,.3,0,1)

@include breakpoint-md-up    
    .logo-img
        max-width: 200px
    
    .menu
        &__item
            margin-right: 1.5rem

        &__overlay
            position: fixed
            
        &__options
            position: relative
            top: 0.5rem
            right: 2.5rem
            background-color: $main-black
            list-style: none
            font-size: 1.2rem
        
            li            
                padding: 1rem 2rem
                cursor: pointer

                &:hover
                    background-color: $main-grey

@include breakpoint-lg-up
    .nav
        &__stars
            display: block

    .menu
        display: none
        position: relative

        &--desktop
            display: flex
            align-items: center
            list-style: none

        &__btn
            padding: .4rem 1rem
            background-color: $main-gold
            color: $main-black
            font-weight: 600
            letter-spacing: 1px
            border-radius: 5px

            &:hover
                filter: brightness(.9)

        &__overlay-mobile
            display: none
            
            &--hide
                display: none

        &__user
            display: flex
            align-items: center
            cursor: pointer

            h5
                font-size: 1.4rem
                font-weight: 200
                text-transform: capitalize

            &:hover
                color: $main-gold
            
        &__arrow
            margin: 0 0 .2rem .5rem

    .arrowUp
        transform: rotateX(180deg)

    .arrowDown
        transform: rotateX(0deg)
                
    .optionsOn
        display: block
        
    .optionsOff
        display: none