.overlay
    height: 100vh
    width: 100vw
    overflow-y: scroll
    position: fixed
    z-index: 999
    background-color: $standard-white
    animation: fadein .3s
    @keyframes fadein
        0%
            opacity: 0
        100% 
            opacity: 1
.hidden
    display: none

.form
    padding: .75rem 0
    border-bottom: .0625rem solid $light-grey
    position: relative
    margin-bottom: 2.5rem
    &--active::after
        position: absolute
        bottom: -2px
        content: ""
        display: block
        height: 2px
        width: 100%
        background: $main-gold
        animation: loadBar .5s 
        @keyframes loadBar
            0%
                width: 0% 
            100%
                width: 100%

    &--inactive::after
        position: absolute
        bottom: -2px
        content: ""
        display: block
        height: 2px
        width: 0
        background: $main-gold
        animation: hideBar .5s 
        @keyframes hideBar
            0%
                width: 100% 
            100%
                width: 0%

    &__input
        height: 2rem
        font-size: 1.1rem
        color: $main-black
        line-height: 1.5rem
        width: calc(100% - 1rem)
        background-color: $standard-white
        letter-spacing: .5px
        border: 0
        outline: none
        padding-left: 1rem
        padding-right: 4rem
        caret-color: $main-gold

.btn-close
    position: absolute
    top: .75rem
    right: 1rem
    width: 2rem
    height: 2rem
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.2rem
    color: $main-grey
    cursor: pointer

.query-message
    text-align: center
    
    & h2
        font-weight: 200
    
@include breakpoint-sm-up
    .content
        padding: 0 2rem
    
    .btn-close
        top: 1rem
        right: 2rem
        font-size: 1.8rem
    
    .form
        padding: 1rem 0

@include breakpoint-lg-up
    .content
        @include content
        position: relative

    .form
        margin-bottom: 4rem
        &__input
            font-size: 4.5rem
            height: 8rem