$main-white: #fafafa
$main-black: #262626
$secondary-black: #666666
$main-grey: #888888
$light-grey: #e8e8e8
$main-gold: #f4c518

// breakpoints
$xs: 370px
$sm: 410px
$md: 769px
$lg: 1200px
$xl: 1360px