.hero
    position: relative
    height: 600px
    width: 100%
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(75,75,75,1) 100%)
    margin-bottom: 3rem

    &__content
        @include content
        position: absolute
        bottom: 0
        right: 0
        left: 0

    &__shadow-top
        @include shadow-top

    &__rating
        @include content
        @include rating-items
            
    &__movie-rating
        @include movie-rating
        
    &__max-rating
        @include max-rating
    
    &__text-box
        @include text-box


    &__shadow-bottom
        @include shadow-bottom
        
    &__shadow-bottom
        @include shadow-bottom

@include breakpoint-md-up

    .hero__rating
        padding-top: 5rem

    .hero__text-box
        padding: 0 3rem 4rem